.details-link {
  align-self: center;

  margin-left: 20px;
  margin-bottom: 11px;

  text-align: center;
  line-height: 20px;

  p {
    font-size: 14px;
  }

  a {
    font-size: 14px;
    color: #50CAFF;
  }
}