@import "../../components/appointment/appointment";
@import "../../components/card/card";
@import "../../components/details-btn/details-btn";

.page-title {
  font-size: 16px;
  font-weight: 400;
  margin-left: 20px;
}

.appointment-list {
  ul {
    display: flex;
    list-style: none;
    margin-top: 15px;
    margin-left: -20px;
  }
}

.card {
  margin-top: 21px;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-left: -15px;

    list-style: none;
  }
}