@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

@import "components/header/header";
@import "components/nav/nav";
@import "pages/profile/profile";
@import "pages/details/details";


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: 'Rubik', sans-serif;
}

.main {
  width: 100%;
  padding: 15px 65px 0 210px;
}